@charset 'utf-8';

/* Footer */
#footer{
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    height: 120px;
    line-height: 30px;
    margin: 0 auto;
    text-align: center;
}
#footer h2 img{
    width: 80px;
}
#footer p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
}