@charset 'utf-8';

/*content*/
#content{
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}
.slogan{
    text-align: center;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 100px;
}
.slogan p{
    font-weight: bold;
}
.slogan img{
    margin-top: 50px;
}

.about{
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Noto Sans KR', sans-serif;
}
.about h3{
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 10px;
}
.about h1{
    font-size: 24px;
    margin-bottom: 40px;
}
.about p{
    text-align: left;
    line-height: 40px;
    font-size: 18px;
}

